<div class="forgot-password-container">
  <h2>Mot de passe oublié</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Entrez votre email" required>
      <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
        Un email valide est requis
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">
      Envoyer le lien
    </button>
  </form>

  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <div class="extra-links">
    <a routerLink="/login">Retour à la connexion</a>
  </div>
</div>
