<div class="dashboard-container">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title class="title">Tableau de Bord Principal</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="summary-section">
        <mat-divider></mat-divider>
        <h2>Résumé des Activités</h2>
        <p>Bienvenue <strong>{{ user?.firstName }}</strong> ! Voici les dernières informations importantes.</p>
      </div>

      <mat-divider></mat-divider>
<!--
       <div class="alerts-section">
        <h2>Alertes Critiques</h2>
        <app-alert></app-alert>
      </div>
      -->
     
    </mat-card-content>
  </mat-card>
</div>

  
