.dashboard-container {
  display: flex;
  justify-content: center;
  padding: 60px; /* Réduction du padding */
  margin-top: 60px; /* Moins de marge en haut */
  background-color: #9d99a4;
}

.dashboard-card {
  width: 100%;
  max-width: 500px; /* Réduction de la largeur max */
  margin-top: 5px;
  padding: 4px; /* Réduction du padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Moins d'ombre */
  border-radius: 4px;
  height: auto;
}

.dashboard-card:hover {
  transform: translateY(-1px); /* Réduction du mouvement au survol */
}

.title {
  font-size: 16px; /* Réduction de la taille du titre */
  font-weight: 600;
  color: #3f51b5;
  margin-bottom: 2px; /* Réduction de l'espace sous le titre */
}

mat-card-subtitle {
  font-size: 10px; /* Réduction de la taille du sous-titre */
  color: #888;
}

.summary-section h2, .alerts-section h2 {
  font-size: 12px; /* Réduction de la taille des titres des sections */
  color: #3f51b5;
  margin-bottom: 2px; /* Moins d'espace sous les titres */
}

.summary-section p {
  font-size: 10px; /* Réduction de la taille du texte */
  color: #444;
  line-height: 1.2;
  margin-bottom: 2px; /* Réduction de l'espace après le texte */
}

mat-divider {
  margin: 6px 0; /* Moins de marge autour du divider */
}

.summary-stats {
  margin-top: 2px; /* Moins d'espace avant les statistiques */
}

mat-chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3px; /* Réduction de l'espace entre les chips */
}

mat-chip {
  font-size: 8px; /* Réduction de la taille des chips */
  font-weight: 500;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

button.mat-button {
  background-color: #3f51b5;
  color: white;
  border-radius: 3px;
  font-weight: 600;
  font-size: 10px; /* Réduction de la taille du texte du bouton */
  padding: 3px 6px; /* Réduction du padding pour le bouton */
  transition: background-color 0.3s ease;
}

button.mat-button:hover {
  background-color: #283593;
}

@media (max-width: 600px) {
  .dashboard-container {
    padding: 6px; /* Réduction du padding sur mobile */
  }

  .dashboard-card {
    margin-top: 5px;
    padding: 3px; /* Moins de padding */
  }

  .title {
    font-size: 14px; /* Réduction de la taille du titre sur mobile */
  }

  .summary-section h2, .alerts-section h2 {
    font-size: 10px; /* Réduction de la taille des titres sur mobile */
  }

  .summary-section p {
    font-size: 8px; /* Réduction de la taille du texte sur mobile */
  }

  mat-chip {
    font-size: 6px; /* Réduction des chips sur mobile */
  }

  button.mat-button {
    font-size: 8px; /* Réduction de la taille du texte du bouton sur mobile */
    padding: 2px 5px; /* Moins de padding pour le bouton sur mobile */
  }
}






  