<h2>{{ editMode ? 'Edit Airport' : 'Add Airport' }}</h2>

<form [formGroup]="airportForm" (ngSubmit)="submitForm()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location</mat-label>
    <input matInput formControlName="location" />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Code</mat-label>
    <input matInput formControlName="code" />
  </mat-form-field>  

  <mat-form-field>
    <mat-label>City</mat-label>
    <input matInput formControlName="city" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Country</mat-label>
    <input matInput formControlName="country" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Capacity</mat-label>
    <input matInput type="number" formControlName="capacity" />
  </mat-form-field>

  <mat-checkbox formControlName="international">International</mat-checkbox>
  <mat-checkbox formControlName="isActive">Active</mat-checkbox>

  <mat-form-field>
    <mat-label>Terminal Info</mat-label>
    <input matInput formControlName="terminalInfo" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Timezone</mat-label>
    <input matInput formControlName="timezone" />
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="airportForm.invalid">
      {{ editMode ? 'Update Airport' : 'Add Airport' }}
    </button>
    <button mat-button (click)="cancel()">Cancel</button>
  </div>
</form>

