<mat-toolbar class="blue-toolbar">
  <span>FlightGuard</span>
  <span class="spacer"></span>
  <button *ngIf="isLoggedIn" mat-button routerLink="/home">Home</button>

  <!-- Login visible uniquement sur la page login et si non connecté -->
  <button *ngIf="!isLoggedIn && isLoginPage" mat-button routerLink="/login">Login</button>

  <!-- Register visible uniquement sur la page register et si non connecté -->
  <button *ngIf="!isLoggedIn && isRegisterPage" mat-button routerLink="/register">Register</button>

  <!-- Logout visible uniquement si connecté -->
  <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>