<mat-toolbar class="blue-toolbar">
  <span>FlightGuard</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/home">Home</button>

  <!-- Login/Register visibles uniquement si non connecté -->
  <button *ngIf="!isLoggedIn" mat-button routerLink="/login">Login</button>
  <button *ngIf="!isLoggedIn" mat-button routerLink="/register">Register</button>

  <!-- Logout visible uniquement si connecté -->
  <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>






