<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="username" placeholder="Enter your username" required>
      <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        Username is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Enter your password" required>
      <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Password is required
      </mat-error>
    </mat-form-field>

    <!-- Champ OTP, affiché uniquement si on est à l'étape OTP -->
    <mat-form-field appearance="fill" *ngIf="isOtpStep">
      <mat-label>OTP</mat-label>
      <input matInput formControlName="otp" placeholder="Enter OTP">
      <mat-error *ngIf="loginForm.get('otp')?.invalid && loginForm.get('otp')?.touched">
        OTP is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="submit-btn">
      {{ isOtpStep ? 'Verify OTP' : 'Se Connecter' }}
    </button>

  </form>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <div class="extra-links">
    <button mat-button color="primary" routerLink="/forgot-password">
      Mot de passe oublié ?
    </button>
    <button mat-button color="accent" routerLink="/register">
      Créer un nouveau compte
    </button>
  </div>
</div>