/* Conteneur du formulaire */
.flight-form-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    height: 75vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Titre */
  .flight-form-container h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #333;
  }
  
  /* Champs de formulaire */
  .mat-form-field {
    width: 100%;
    margin-bottom: 10px; /* Espacement uniforme */
    background-color: #fff;
    border-radius: 4px;
  }
  
  /* Pour les champs disposés côte à côte (grille) */
  .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Créer une grille à 2 colonnes */
    gap: 20px; /* Espacement entre les colonnes */
  }
  
  /* Champs de formulaire dans la grille */
  .form-row .mat-form-field {
    width: 100%;
  }
  
  /* Boutons */
  button {
    width: 100%;
    margin-top: 10px;
    padding: 6px;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  /* Bouton de suppression */
  button[mat-icon-button] {
    margin-left: 10px;
    border-radius: 50%;
    background-color: #ffcccc;
    padding: 8px;
  }
  
  /* Amélioration de la responsivité */
  @media (max-width: 768px) {
    .flight-form-container {
      width: 100%;
      padding: 15px;
    }
  
    .mat-form-field {
      margin-bottom: 12px;
    }
  
    button {
      width: 100%;
      padding: 5px;
    }
  
    .form-row {
      grid-template-columns: 1fr; /* Les champs occupent toute la largeur sur mobile */
    }
    
    .form-group {
      margin-bottom: 10px;
    }
  }
  
  /* Section réservations et alertes */
  .form-group {
    margin-bottom: 10px; /* Espacement entre les sections */
  }
  
  .form-array-item {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #fafafa;
  }
  
  button.mat-raised-button {
    margin-top: 5px;
  }
  
  /* Style des boutons de suppression */
  button[mat-icon-button] {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  /* Amélioration de l'apparence des boutons */
  button[mat-raised-button] {
    padding: 3px;
    font-size: 1rem;
  }
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  


  
  