<div class="reset-password-container">
  <h2>Réinitialisation du mot de passe</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput type="password" formControlName="newPassword" placeholder="Entrez votre nouveau mot de passe" required>
      <mat-error *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched">
        Minimum 6 caractères requis
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">
      Réinitialiser
    </button>
  </form>

  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>

